/*
Theme Name: Checkout Child Theme voor Juffrouw Janssen
Theme URI: https://array.is/themes/checkout-wordpress-theme/
Description: Templates, styles en functies voor juffrouwjanssen.info, op basis van het Checkout Child theme van Array
Author: Array, Somtijds
Author URI: https://array.is
Version: 1.0
Template: checkout
Tags: white, gray, white, two-columns, flexible-width, custom-background, custom-colors, custom-menu, editor-style, featured-images, theme-options, translation-ready, photoblogging, threaded-comments
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
This is a starter style.css file for your child theme. For more
information about child themes, visit the following web page:
http://codex.wordpress.org/Child_Themes
*/

/* Add your customizations below this line */

* {margin: 0; padding: 0;}

html,
body,
button,
input,
select,
textarea,
h2,h3,h4,h5,h6 {
  font-family: "Ubuntu", sans-serif;
}

.main-navigation a:hover {
  color: inherit;
}

.site-header .logo {
	max-width: 16.66%;
}

.hero-title h1 {
  color: #13A89E;
  text-shadow: none;
  font-family: "Patua One", sans-serif;
}

.hero-title .entry-subtitle {
	text-shadow: none;
}

.page-template-template-homepage-portfolio .site-header {
	z-index: 0;
}

.page-template-template-homepage-portfolio .site-header .logo {
	position: absolute;
}

.page-template-template-homepage-portfolio .header-inside {
	padding-bottom: 4%;
	min-height: 25%;
}

.page-template-template-homepage-portfolio .header-inside {
	padding-bottom: 8em;
}

.page-template-template-homepage-portfolio .hero-title-inside {
	max-width: 35em;
}

.page-template-template-homepage-portfolio .hero-title h1:before {
	content: 'Learn Dutch with';
	color: #283891;
}

#main.homepage-template {
	padding: 4em 0 0;
	max-width: none;
	overflow: visible;
}

.homepage-section {
	padding: 4em 5%;
}

.homepage-section-inner {
	max-width: 1600px;
	margin: 0 auto;
}

.homepage-section--portfolio {
	background-color: #13A89E;
}

.homepage-section--portfolio .post.column h2 {
	margin-bottom: 0.125em;
}

.homepage-section--portfolio .post.column .entry-subtitle {
	color: #aaa;
}

.homepage-section--testimonials {
	background-color: #ABDDDB;
}

.homepage-section--cta {
	padding-bottom: 0;
}

.homepage-section--cta h3 { 
	max-width: 15em;
	margin: auto;
	line-height: 1.5em;
}

.homepage-section-divider--image {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-10.5em);
}

.homepage-section-divider--image img {
	width: 100%;
}

.homepage-section__title {
	font-size: 34px;
    position: relative;
    margin-bottom: 4%;
    text-align: center;
}

.homepage-section__title {
	color: #fff;
}

.homepage-section__title--testimonials {
	color: #283891;
}

.homepage-section__image--cta {
	max-width: 30vw;
	margin: 6em auto 0;
}

.homepage-post-content {
	width: 75vw;
	max-width: 80em;
	margin: 2em auto 4em;
}

.homepage-post-content--intro p {
	font-size: 1.4em;
	line-height: 1.6em;
}

.homepage-post-content--intro article.post {
	background: none;
	border: none;
	box-shadow: none;
	max-width: none;
	margin: 0;
}

.homepage-post-content .post-text {
	padding: 0;
}

.jj-usp {
	display: flex;
	margin: 3em auto;
	justify-content: center;
}

.jj-usp:nth-of-type(odd) {
	flex-direction: row-reverse;
}

.jj-usp:last-of-type {
	margin-bottom: 0;
}

.jj-usp__content, .jj-usp__image {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.jj-usp__content {
	flex: 2;
	padding: 0 2em;
	margin: 1.5em 0;
}

.jj-usp__content__description {
	font-size: 1.1em;
}

.jj-usp:nth-of-type(odd) .jj-usp__content {
	text-align: right;
}

.jj-usp__image {
	flex: 1;
	flex-shrink: 0;
	flex-grow: 1;
	align-items: center;
}

.jj-usp__image-border, 
.homepage-section-divider--image .image-border {
	max-height: 12em;
	max-width: 12em;
	border-radius: 50%;
	overflow: hidden;
}

.jj-usp__image-border {
	padding: 3em;
	border-width: .4em;
	border-style: solid;
}

.jj-usp:nth-of-type(3n+1) .jj-usp__image-border {
	border-color: #25AAE1;
}
.jj-usp:nth-of-type(3n+1) .jj-usp__content__title h3 {
	color: #25AAE1;
}

.jj-usp:nth-of-type(3n+2) .jj-usp__image-border {
	border-color: #283891;
}
.jj-usp:nth-of-type(3n+2) .jj-usp__content__title h3 {
	color: #283891;
}

.jj-usp:nth-of-type(3n+3) .jj-usp__image-border {
	border-color: #13A89E;
}
.jj-usp:nth-of-type(3n+3) .jj-usp__content__title h3 {
	color: #13A89E;
}

.jj-usp__image img {
	width: 8em;
	height: 8em;
}

#content .jj-portfolio__extra p {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate( 0 , 0 );
  z-index: 2;
  margin-top: 2em;
}

#content .jj-portfolio__extra ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

#content .jj-portfolio__extra ul li {
  	list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #aaa;
}

#content .jj-portfolio__extra a.button {
	font-weight: 200;
}

#content .jj-portfolio__extra input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

#content .jj-portfolio__extra input[type=checkbox]~a i.fa-angle-up {
	display: inline-block;
}
#content .jj-portfolio__extra input[type=checkbox]~a i.fa-angle-down {
	display: none;
}
      
#content .jj-portfolio__extra input[type=checkbox]:checked~p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate( 0 , 50% );
}

#content .jj-portfolio__extra input[type=checkbox]:checked~a.button i.fa-angle-down {
	display: inline-block;
}

#content .jj-portfolio__extra input[type=checkbox]:checked~a.button i.fa-angle-up {
	display: none;
}

/* adapting contact card definition styling */

dt.fn {
	margin-bottom: 0.25em;
}
dt:not(.fn) {
	font-weight: 100;
}

@media only screen and (min-width:1200px) {
	.hero-title {
		padding-top: 0;
	}
	.header-inside {
		min-height: 24em;
	}
}

@media only screen and (max-width:960px) {

	.page-template-template-homepage-portfolio .site-header .logo,
	.site-header .logo {
		position: relative;
		max-width: 33.33%;
		margin: 2em 33.33%;
	}

	.homepage-post-content {
		width: 85vw;
	}

	.hero-title-inside {
		 max-width: 25em;
	}

    .wf-active .hero-title-inside,
    .wf-loading .hero-title-inside {
    	max-width: 22em;

    }
}

@media only screen and (max-width:840px) {

	.jj-usp, 
	.jj-usp:nth-of-type(odd) {
		flex-direction: column;
	}

	.jj-usp__content,
	.jj-usp:nth-of-type(odd) .jj-usp__content {
		flex: 1;
		text-align: center;
	}

	.jj-usp__image {
		flex-direction: row;
	}

}

@media only screen and (max-width:720px) {

	.homepage-post-content {
		width: 90vw;
	}

	.homepage-post-content--intro p {
		font-size: 1.3em;
		text-align: center;
	}
}


@media only screen and (max-width:640px) {
	.page-template-template-homepage-portfolio .site-header .logo {
		max-width: 60%;
		margin: 2em 20%;
	}

	.homepage-post-content {
		width: 95vw;
	}
}

.uc-wrapper {
	width: 100%;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}
.uc {
  /*-webkit-transition:width 0.25s, height 0.25s, -webkit-transform 0.25s;
  -moz-transition:width 0.25s, height 0.25s, -moz-transform 0.25s;*/
	width: 22em;
	background: transparent;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
	text-align: center;
}

.uc__content {
	text-align: left;
	font-family: 'Open Sans', arial, sans-serif;
	margin: 0;
	width: 100%;
	color: #444;
	font-size: 1em;
	font-weight: 300;
	display: inline-block;
}

.uc__content:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.uc__content {
	display: block;
}

.uc__content p {
	display: block;
	width: 100%;
	margin: 1.5em 0;
	letter-spacing: 1px;
}

.uc__content .text-wrapper {
  margin: 1em;
  text-align: center;
}

.uc__description {
	padding: 0;
	margin: 0;
	float: right;
}

.uc__content p strong {
	color: #283891;
	font-weight: 400;
}

.uc__content p a {
  color: #13a89e;
	text-decoration: none;
}

.uc__content p a:hover {
	text-decoration: underline;
}

@media screen and (max-width : 640px) {

	div.uc__content p {
		font-size: 0.9em;
		letter-spacing: 0;
	}

}

@media screen and (max-height : 480px) {

	.uc__content img {
		width: 50%;
		margin: 0 auto;
	}

}


